@import "@/assets/style/var.scss";

.xy__setting-modal {
  border-radius: 10px;
  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    padding: 0;
    top: 0;
    border-radius: 10px;
  }

  .setting__container {
    position: relative;
    height: 540px;
    display: flex;
    overflow: hidden;
    user-select: none;
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 15px;
      color: #777;
      cursor: pointer;
      z-index: 1001;
    }
  }
  .setting__header {
    position: relative;
    .xy__setting-menu {
      width: 200px;
      height: 100%;
      padding: 24px 0;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      .el-menu-item [class^="el-icon-"] {
        margin-right: 22px;
        font-size: 16px;
      }
      .el-menu-item {
        height: 40px;
        line-height: 40px;
        margin: 4px 0 8px 0;
        padding-left: 16px !important;
        color: $text-color;
        i {
          color: $text-color;
        }
        &.is-active {
          color: $primary-color;
          background-color: #f0f7ff;
          i {
            color: $primary-color;
          }
        }
      }
    }
  }

  .setting__content {
    position: relative;
    flex-grow: 1;
    height: 100%;
    padding: 24px 35px 24px 20px;
    overflow-y: auto;
    overflow-x: hidden;

    .item {
      display: flex;
      align-items: center;
      padding: 15px 0 5px;

      .value {
        display: flex;
        align-items: center;
        flex: 1;
        overflow: hidden;
        a {
          color: $primary-color;
          text-decoration: none;
        }

        .el-select {
          width: 100%;
        }
      }

      .key {
        margin-right: 15px;
        text-align: right;
      }

      .video-value {
        position: relative;
      }

      .preview-video-bg {
        position: absolute;
        background: #000;
        color: #fff;
        width: 248px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        top: 0;
      }

      .preview-video-box {
        width: 248px;
        height: 140px;
        background: #000;
      }

      .preview-video {
        width: 248px;
        height: 140px;
        overflow: hidden;
        border-radius: 2px;
        object-fit: cover;
        transform: rotateY(180deg);
      }

      .play-audio,
      .upload {
        cursor: pointer;
        color: $primary-color;
        transition: color ease 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }

      .play-audio-status {
        color: #999;
        margin-left: 10px;
      }

      .level-process {
        width: 230px;
        height: 16px;
        border: 1px solid #ddd;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
      }

      .level-value {
        position: absolute;
        left: -230px;
        top: 0;
        width: 100%;
        height: 14px;
        background-color: $primary-color;
        border-radius: 2px;
        overflow: hidden;
        transition: transform ease 0.3s;
        transform: translateX(0%);
      }

      .split {
        padding: 0 5px;
        color: #ddd;
      }

      &-column {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        .key {
          text-align: left;
        }
        .value {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    &-device {
      display: flex;
      flex-direction: column;
      height: 100%;
      &-main {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow-y: auto;
      }
      .fixed {
        position: absolute;
        width: calc(100% - 30px);
        z-index: 10;
      }
      .item {
        .key {
          min-width: 60px;
        }
      }
      &-footer {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &-common {
      height: 100%;
      .item {
        .key {
          width: 110px;
        }
      }
    }

    .request__loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      color: #666;

      .roll {
        font-size: 18px;
      }
      .init {
        margin-top: 10px;
      }
    }

    .request__iauth {
      .guide-img {
        width: 70%;
        margin: 30px auto;
        display: block;
      }

      .tips {
        color: #333;
      }

      .done {
        text-align: center;
        color: #999;
        font-size: 14px;
        padding-top: 10px;
      }
    }

    &-about {
      position: relative;
      height: 100%;
      text-align: center;
      font-size: 12px;
      color: $text-color;
      padding-top: 22%;
      .about-version {
        margin-top: 20px;
        margin-bottom: 12px;
      }
      .about-footer {
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        text-align: center;
        div {
          margin-top: 8px;
        }
      }
    }
  }

  .setting__footer {
    text-align: right;
    min-height: 50px;
  }
  .setting__select-disabled {
    width: 100%;
    border: 1px solid #d9d9d9;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    border-radius: 2px;
    color: #00000040;
    background: #f5f5f5;
    cursor: not-allowed;
  }
}

.setting-tips {
  font-size: 12px;
  margin-left: 2px;
  opacity: 0.6;
  transform: rotateZ(180deg);
}

.visible {
  display: block;
}
.hidden {
  display: none !important;
}

.stream-fail {
  display: flex;
  align-items: center;
  font-size: 12px;
  &-icon {
    font-size: 18px;
    color: $primary-color;
  }
  &-tip {
    display: inline-block;
    margin-left: 10px;
  }
  .click-me {
    display: inline-block;
    margin-left: 4px;
    color: $primary-color;
    cursor: pointer;
  }
}

.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    width: 100%;
    position: relative;
    .item {
      align-items: baseline !important;
      .key {
        min-width: 60px;
      }
    }

    textarea {
      width: 100%;
      height: 132px;
      background: #f8f9fa;
      border-radius: 3px;
      border: 1px solid #ebebeb;
      padding: 12px;
      font-size: 12px;
      color: $text-color;
      line-height: 18px;
    }

    .error {
      position: absolute;
      color: $danger-color;
      font-size: 12px;
      margin-top: 4px;
    }

    .el-input__inner {
      font-size: 12px;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    padding: 0 0 5px;
    .download {
      color: $primary-color;
      font-size: 13px;
      margin-right: 12px;
      padding-left: 20px;
      padding-right: 20px;
      border: 0;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
      img {
        width: 16px;
        height: 16px;
        margin-right: 9px;
      }
    }
    .upload-btn {
      font-size: 13px;
      &[disabled] {
        color: #fff;
        opacity: 0.6;
        background: linear-gradient(90deg, #69aeff, #3876ff);
        cursor: default;
      }
    }
  }
}
