@import "@/assets/style/var.scss";

.el-popover.more-select-popover {
  min-width: 102px;
  padding: 0;
  border: 0;
  .popper__arrow {
    border: 0;
  }
  .more-select {
    padding: 8px 0;
    li {
      width: 100%;
      height: 32px;
      line-height: 32px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: $primary-color;
      }
    }
  }
}
