@import '@/assets/style/var.scss';

.meeting-prompt {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 99;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &-top {
    top: 12px;
  }

  &-box {
    display: flex;
    align-items: center;
    background: #000;
    padding: 6px 12px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 8px;
  }
  &-up {
    top: 8px;
  }

  &-content-name {
    max-width: 180px;
    @include text-ellipsis;
  }
}

.lock-btn {
  display: inline-block;
  width: 56px;
  height: 20px;
  background: $primary-color;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  margin-left: 12px;
  cursor: pointer;
  text-align: center;
}
