:root {
  --base_bg: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base_bg: #e3e3e3;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
  user-select: none;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--base_bg);
  overflow-y: auto;
}
.center {
  text-align: center;
}

.loading {
  width: 100vw;
  height: 100vh;
  background: #000 url("../img/meeting_bg.png") 0 0 no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading .avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #efefef;
}
.loading .avatar img {
  width: 100%;
  height: 100%;
}
.loading .name {
  margin: 26px 0 48px;
  color: #fff;
  font-size: 14px;
}
.loading .stop {
  width: 67px;
  height: 27px;
  cursor: pointer;
  transition: opacity ease 0.3s;
}
.loading .stop:hover {
  opacity: 0.8;
}
.loading .stop:active {
  opacity: 1.2;
}
.loading .stop img {
  width: 100%;
  height: 100%;
}

.meeting-header {
  height: 32px;
  width: 100%;
  text-align: center;
  color: #e7e7e7;
  background-color: rgba(25, 29, 40, 1);
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meeting-footer {
  width: 100%;
  height: 60px;
  color: #e7e7e7;
  background-color: rgba(25, 29, 40, 1);
  overflow: hidden;

  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.meeting-footer > div {
  padding: 0 5px;
}

.meeting-content {
  width: 100vw;
  height: calc(100vh - 92px);
  z-index: 10;

  position: fixed;
  top: 32px;
  left: 0;

  background-color: #282828;
  color: #e7e7e7;

  display: flex;
  align-items: center;
  justify-content: center;
}

.meeting-layout {
  position: relative;
}

.copyright {
  position: fixed;
  font-size: 12px;
  color: #606266;
  bottom: 10px;
  transform: translateX(50%);
  margin-left: 80px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.xy__setting-modal {
  width: 720px;
  height: 540px;
}

.xy__setting-modal .el-dialog__body {
  padding: 0;
}

.xy__setting-modal .el-dialog__headerbtn {
  top: 12px;
  font-size: 18px;
}
