@import "../../style/var.scss";

.xy__setting-modal {
  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    padding: 10px 0 20px;
    top: 0;
  }

  .ant-modal-content{
    border-radius: 10px;
  }

  .ant-menu-item .anticon {
    margin-right: 4px;
  }

  .settng__header {
    position: relative;

    .close {
      position: absolute;
      top: 9px;
      right: 20px;
      font-size: 16px;
      color: #777;
      cursor: pointer;
    }
  }

  .setting__content {
    min-height: 200px;
    padding: 15px;

    &-device.fixed {
      position: absolute;
      width: calc(100% - 30px);
      background-color: #fff;
      z-index: 10;
    }

    &-device {
      max-height: 500px;
      overflow-y: auto;
    }

    .item {
      display: flex;
      align-items: center;
      padding: 15px 20px 5px;

      .value {
        display: flex;
        align-items: center;
        flex: 1;
        overflow: hidden;

        .ant-select {
          width: 100%;
        }
      }

      .key {
        margin-right: 15px;
        width: 60px;
        text-align: right;
      }

      .video-value {
        position: relative;
      }

      .preview-video-bg {
        position: absolute;
        background: #000;
        color: #fff;
        width: 186px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
      }

      .preview-video {
        width: 186px;
        height: 140px;
        overflow: hidden;
        border-radius: 2px;
        object-fit: cover;
      }

      .play-audio,
      .upload {
        cursor: pointer;
        color: $primary-color;
        transition: color ease 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }

      .play-audio-status {
        color: #999;
        margin-left: 10px;
      }

      .level-process {
        width: 230px;
        height: 16px;
        border: 1px solid #ddd;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
      }

      .level-value {
        position: absolute;
        left: -230px;
        top: 0;
        width: 100%;
        height: 14px;
        background-color: $primary-color;
        border-radius: 2px;
        overflow: hidden;
        transition: transform ease 0.3s;
        transform: translateX(0%);
      }

      .split {
        padding: 0 5px;
        color: #ddd;
      }
    }

    .request__loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      color: #666;

      .roll {
        font-size: 18px;
      }
      .init {
        margin-top: 10px;
      }
    }

    .request__iauth {
      .guide {
        width: 70%;
        margin: 0 auto;
        display: block;
      }

      .tips {
        color: #333;
      }

      .done {
        text-align: center;
        color: #999;
        font-size: 14px;
        padding-top: 10px;
      }
    }
  }

  .setting__footer {
    min-height: 50px;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
}
